<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeye.blog.mapper.MessageMapper">

    <resultMap id="message" type="com.zeye.blog.pojo.Message">
        <id property="id" column="id"></id>
        <result property="nickname" column="nickname"></result>
        <result property="email" column="email"></result>
        <result property="content" column="content"></result>
        <result property="avatar" column="avatar"></result>
        <result property="createTime" column="create_time"></result>
        <result property="parentMessageId" column="parent_message_id"></result>
        <result property="adminMessage" column="admin_message"></result>
        <result property="parentEmail" column="parent_email"></result>
    </resultMap>

    <!--查询父级留言-->
    <select id="findByParentIdNull" resultMap="message">
        select *
        from t_message
        where parent_message_id = #{parentId}
        order by create_time desc
     </select>

    <!--查询一级回复-->
    <select id="findByParentIdNotNull" resultMap="message">
        select *
        from t_message
        where parent_message_id = #{id}
        order by create_time desc
    </select>

    <select id="findByReplayId" resultMap="message">
         select *
         from t_message
         where parent_message_id = #{childId}
         order by create_time desc
     </select>

    <insert id="saveMessage" parameterType="com.zeye.blog.pojo.Message">
        insert into t_message(nickname, email, content, avatar, create_time, parent_message_id, admin_message, parent_email)
        values (#{nickname},#{email},#{content},#{avatar},#{createTime},#{parentMessageId},#{adminMessage},#{parentEmail})
    </insert>

    <delete id="deleteMessage">
        delete from t_message where id = #{id}
    </delete>


</mapper>